<div>
  <h2>Our BackGround</h2></div>
  <div class="head ">
  <p>something<br>  something something<br>something<br>something<br>something<br>something<br>something<br>something<br>something<br></p></div>
  <div><h2>Recognition</h2></div>
  <div><p>something.....</p></div>
  <div><h2>Founders</h2></div>
  <div style="height:300px;"><p><img src="../assets/IMAGE_URL2.jpg" alt="alt text" style="float: right;margin-right: 200px; width: 150px; height: 150px;">
    Text heresomething.....<br><br><br><br><br><br><br><br>............</p></div>
  <div class="row3">
      <div class="column3" >
        <b>Sitemap</b>
        <p>About</p>
        <p>Carrers</p>
      </div>
      <div class="column3" >
        <b>Address</b>
        <p>Some text..</p>
      </div>
      <div class="column3" >
        <h3>Mopo</h3>
        <p>Some text..</p>
      </div>
      <div class="column3" >
        <h3>Logo</h3>
        <p>Some text..</p>
      </div>
    </div>

    <div class="row3">
        <div class="column2" style="background-color:black; color:white; align: center;">
          <b>Sitemap</b>
          <p>About</p>
          <p>Carrers</p>
        </div>
        <div class="column2" style="background-color:black; color:white;">
          <b>Address</b>
          <p>Some text..</p>
        </div>
        <div class="column2" style="background-color:black; color:white;">
          <h3>Mopo</h3>
          <p>Some text..</p>
        </div>
        <div class="column2" style="background-color:black; color:white; ">
          <h3>Logo</h3>
          <p>Some text..</p>
        </div>
      </div>
  