h2 {
    border-bottom-style: solid;
    border-bottom-width: thin;
}
.column2 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.column3{
    background-color:rgb(170, 162, 162);
    color:white;
    align: center;
    float: left;
    width: 25%;
    height: 100px;
    padding: 10px;
    /* Should be removed. Only for demonstration */
}
