 

 <table border="2" style="widows: 50%;">
    <thead>
      <tr>
        <th>srno</th>
        <th>Date</th>
        <th>Event</th>
        <th>City</th>
        <th>Venue</th>
       
        
      </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let evnt of event">
        <td>{{evnt.srno}}</td>
  <td>{{evnt.Date}}</td> 
  <td>{{evnt.Event}}</td> 
  <td>{{evnt.City}}</td> 
  <td>{{evnt.Venue}}</td>  
      </tr>
      <!-- <tr *ngIf = "event.length==0">
        <td colspan="5">No data to display</td></tr> -->
            </tbody>
  </table>


        <!-- <div class="container">
                <h1>Events</h1>
                          
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Event</th>
                      <th>City</th>
                      <th>Venue</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jun 27, 2018</td>
                      <td>Sasktel Jazz Festival</td>
                      <td>Saskatoon, SK</td>
                      <td>Northern Lights<br> Casino - Starlight Lounge</td>
                    </tr>
                    <tr>
                            <td>Jun 27, 2018</td>
                            <td>	Sasktel JazzFest: The Karpinka Brothers </td>
                            <td>Saskatoon, SK</td>
                            <td>Finn's Irish Pub</td>
                          </tr>
                          <tr>
                                <td>Jun 27, 2018</td>
                                <td>	Deer Hoof w/ Slow Down Molasses </td>
                                <td>Saskatoon, SK</td>
                                <td>Amigos<br>

                                        $18/advance - $25/door</td>
                              </tr>
                              <tr>
                                    <td>Jun 28, 2018</td>
                                    <td>Sons of Kemet </td>
                                    <td>Saskatoon, SK</td>
                                    <td>Capitol Music<br> Club (The)</td>
                                  </tr>
                                  <tr>
                                        <td>Jun 28, 2018</td>
                                        <td>	The Jerry Douglas Band </td>
                                        <td>Saskatoon, SK</td>
                                        <td>Bess Gardens - Delta<br> Bessborough Hotel Saskatoon </td>
                                      </tr>
                                      <tr>
                                            <td>Jun 28, 2018</td>
                                            <td>	Drew Gregory featuring<br> Sabrina Demyen  </td>
                                            <td>Regina, SK</td>
                                            <td>Revival Music Room<br><br>

                                                    $10/advance - $15/door </td>
                                          </tr>
                  </tbody>
                </table>
              </div> -->
 <div class="row3">
       
        <div class="column3" >
          <b>ABOUT OUR ARTISTS</b>
          <p>Some text..</p>
        </div>
        <div class="column3" >
          <h3>PROGRAMS</h3>
          <p>Some text..</p>
        </div>
        <div class="column3" >
          <h3>ADDITIONAL</h3>
          <p>Some text..</p>
        </div>
        <div class="column3" >
        
                <p>google link</p>
              
              </div>
      </div> 


    