<div class="row3">
  <h2 align="center">START DREAMING AND EXPLORING NOW</h2>
    <div class="column" >
        <img src="../assets/11.jpg"  width="100%" height="200" ><br>
        <p>Spotlight: Legoland California
            RED, WHITE AND BOOM
            Lean back and stare up at the sky for LEGOLAND California’s eye-popping 4th of July fireworks in Carlsbad, about 45 minutes north of San Diego. The park’s “...

            <a href="#"> READ MORE</a></p>
      </div>
    <div class="column"  >
        <img src="../assets/12.jpg"  width="100%" height="200" >
      <p>California: Culinary
          16 WATERFRONT RESTAURANTS
          Travel the California coast and you quickly discover that the waterfront dining is as...
          
         <a href="#"> READ MORE</a>
          
          
          </p>
    </div>
    <div class="column" >
        <img src="../assets/13.jpg"  width="100%" height="200" >
        <p>CALIFORNIA QUESTIONNAIRE: KERRI WALSH JENNINGS
            Dreaming big isn’t just a catchphrase for volleyball superstar...
            
            <a href="#"> READ MORE</a></p>
    </div>
   
    <div class="column" >

        <img src="../assets/14.jpg"  width="100%" height="200" >
             <p>Welcome to the California State</p>
               <h1><a href="#"> CALIFORNIA</a></h1>
             
          </div>
        
  </div> 