<html>
    <head>
        <title>Bootstrap Example</title>
        
      </head>
  <body>
<div class="container-fluid">

    <div class="row">
    
    <div class="col-lg-2 col-xs-1"></div>
    
    <div class="col-lg-2 col-xs-3"><b style="margin-left: 50px;">LOGO</b></div>
    
    <div class="col-lg-3 col-xs-3"><b>Museum of <br>Performing Arts</b></div>
    
    <div class="col-lg-2 col-xs-3">+91 99999 99999</div>
    
    <div class="col-lg-2 col-xs-2">info@gmail.com</div>
    
    </div>
    
    </div>
    <div style="background-color: black;">
        <nav class="navbar navbar-expand-sm bg-light navbar-light"style="margin-left:100px;" >
        <ul class="nav navbar-nav" >
            <li class=".active"><a href="#" >
              Home <span class="sr-only">(.active)</span>
            </a></li>
            <li><a href="#">About</a></li>
            <li><a href="events/events.component.html">Events</a></li>
            <li><a href="#">SupportUs</a></li>
            <li><a href="#">Visit</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Facilities</a></li>
            <li><a href="#">Member Area</a></li>
          </ul>
          </nav>
        </div>
<!-- <div class="header">
  <div class="row">

  </div>
<div class="container-fluid">
<h1 style="margin-left:120px">Logo</h1>
</div>
<div>Musiem Of<br> Performing Art</div>
</div> -->
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <!-- <a class="navbar-brand">
            <img src="assets/img/ngx-bootstrap.svg" class="logo">
          </a> 
          <span class="navbar-brand">LOGO</span>
      </div>
    </div>
      <div>
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">
            Home <span class="sr-only">(current)</span>
          </a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">SupportUs</a></li>
          <li><a href="#">Visit</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Facilities</a></li>
          <li><a href="#">Member Area</a></li>
          <!-- <li class="dropdown" dropdown> <!-- {1} 
              <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button"> <!-- {2} 
                Dropdown <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu">  {3} 
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
              </ul>
          </li> 
      </ul>
    </div>
    
      <!-- <div>
      <button type="button" class="btn btn-primary" 
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Button with tooltip
</button>
</div> 
  
</nav>
</div> -->
<!-- 
<div>
<div layout="row" max-height = "100%" max-width="200px">
  <div flex>First item in row</div>
  <div flex>Second item in row</div>
</div>
<div layout="column" max-width = "100%" max-height="200px" >
  <div flex>First item in column</div>
  <div flex>Second item in column</div>
</div>
</div> -->

<div class="row">
    <div class="column left" style="background-color:	#f2f2f2; ">
  <!-- <div class="container3" style="width:40%;height: 300px;"> -->
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/IMAGE_URL1.jpg" alt="Los Angeles" style="height: 350px;">
        </div>
  
        <div class="item">
          <img src="../assets/IMAGE_URL1.jpg" alt="Chicago" >
        </div>
      
        <div class="item">
          <img src="../assets/IMAGE_URL1.jpg" alt="New york" >
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  <div class="column right" style="background-color:	#f2f2f2;">
    <div class="card">
     
      <div class="fakeimg" >Write Something</div>
     
    </div>
    <div class="card">
     
      <div class="fakeimg" >Write Something</div>
      <!-- <p>Some text about me in culpa qui officia deserunt mollit anim..</p> -->
    </div>
    <div class="card">
      
      <div class="fakeimg">Write Something</div>
      
    </div>
  </div>
</div>
<div>
  <h1>Facilities at MOPO</h1>
  <div class="row">
      <div class="column2" style="background-color:#aaa;">
          <div class="container">
          <img src="../assets/IMAGE_URL1.jpg" alt="Flowers in Chania" width="330" height="290">
          <div class="text-block">
              <h4>Nature</h4>
              <p>What a beautiful sunrise</p>
            </div>
          </div>
      </div>
      <div class="column2" style="background-color:#aaa;">
          <div class="container">
          <img src="../assets/IMAGE_URL3.jpg" alt="Flowers in Chania" width="330" height="290">
          <div class="text-block">
              <h4>Nature</h4>
              <p>What a beautiful sunrise</p>
            </div>
          </div>
      </div>
      <div class="column2" style="background-color:#aaa;">
          <div class="container">
          <img src="../assets/IMAGE_URL3.jpg" alt="Flowers in Chania" width="330" height="290">
          <div class="text-block">
              <h4>Nature</h4>
              <p>What a beautiful sunrise</p>
            </div>
          </div>
      </div>
    </div>
</div>
<div class="Mopo">
  <h1>About Mopo</h1>
  <p>Something....</p>
</div>
<div class="login" style="background-color: lightslategrey">
   
      <h1 align="center">Subcribe to NewSletter</h1>
      <label for="fname" style="margin-left:50px;"> Name</label >
      <input type="text" id="fname" name="firstname" placeholder="Your name.." style="margin-left:30px;">
      <label for="email"style="margin-left:50px;">Email</label>
      <input type="text" id="email" name="email" placeholder="Your email.."style="margin-left:30px;">
      <input type="submit" value="Subscribe" style="margin-left:50px;">
   

</div>
<div class="row3">
    <div class="column3" style="background-color:black; color:white; align: center;">
      <b>Sitemap</b>
      <p>About</p>
      <p>Carrers</p>
    </div>
    <div class="column3" style="background-color:black; color:white;">
      <b>Address</b>
      <p>Some text..</p>
    </div>
    <div class="column3" style="background-color:black; color:white;">
      <h2>Mopo</h2>
      <p>Some text..</p>
    </div>
    <div class="column3" style="background-color:black; color:white; ">
      <h2>Logo</h2>
      <p>Some text..</p>
    </div>
  </div>
</body>
</html>