<div>
  <div><h1 align="center">Support Us</h1></div>
  <div class="row3">
      <div class="column" >
        
        </div>
      <div class="column"  >
          <img src="../assets/support.png" alt="Flowers in Chania" width="100" height="100" >
        <p>Some text..</p>
      </div>
      <div class="column" >
        <h4>Make a Donation</h4>
        <p>Yes! I want to help City Year support young people in service.</p>
      </div>
     
      <div class="column" >
      
             
            </div>
    </div> 
</div>
<div class="demo">
<div><h2>We welcome your support</h2></div>
  <div><p>something.....</p></div>
  <div><h3>How you can help keep students in school and on track</h3></div>
  <div><p>something.....</p></div>
  <div><h4><b><u>MORE THAN HALF of the financial support for City <br>
    Year’s mission to help students reach graduation<br>
     and beyond comes from individuals, corporations, <br>and foundations.<br>
     <a href="#"> See the impact </a> their support is making.</u>
      </b></h4></div>
    </div>