/* * {
    box-sizing: border-box;
} */

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    margin-top: 30px;
    height: 350px; /* Should be removed. Only for demonstration */
}
.container-fluid{
    height: 50px;
    padding-bottom: 20px;
}
.header{
    height: 50px;

}
.left {
  width: 60%;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.column1 {
    float: left;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
}

.left1, .middle1 {
  width: 25%;
}

.right1 {
  width: 25%;
}
.column2 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.container {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.Mopo{
    height: 200px;

}

input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.column3 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.column2{
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
table, th, td 
{
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}
th {
    font-weight:bold;
}